@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --bg: #FBFAFA;
  --black: #3D3B3B;
  --btn-bg: #5D5FEF;
  --darker-btn-bg: #4548EE;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
